.main
{
    background-color: aquamarine;);
    background-size: cover;
    height: 40bh;
    
}
.menu{
    font-size: 28px;
    color: rgb(1, 10, 1);
}
.menu h3{
    font-size: 34px;
}
.second{
    font-size: 28px;
}
.third{
    font-size: 28px;
}